<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../../lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]--><title>查看产品详情</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
  <img class="avatar size-XL l" src="../../static/h-ui/images/loading-b.gif">
  <dl style="margin-left:80px; color:#fff">
    <dt><span class="f-18">哥本哈根橡木地板</span> <span class="pl-10 f-12">售价：￥998.00</span></dt>
    <dd class="pt-10 f-12" style="margin-left:0">备注：精致地板，限时抢购</dd>
  </dl>
</div>
<div class="pd-20">
  <table class="table">
    <tbody id="partnerShow">
      <tr>
        <th class="text-left">产品规格：</th>
        <td>中型</td>
      </tr>
      <tr>
        <th class="text-left">长度：</th>
        <td>100cm</td>
      </tr>
      <t>
      	<th class="text-left">宽度:</th>
        <td>60cm</td>
      </tr>
      <tr>
      	<th class="text-left">高度:</th>
        <td>5cm</td>
      </tr>
      <tr>
        <th class="text-left">产地：</th>
        <td>中国-义乌</td>
      </tr>
      <tr>
        <th class="text-left">材质：</th>
        <td>实木</td>
      </tr>
      <tr>
        <th class="text-left">供应商：</th>
        <td>义乌哥本哈根地板公司</td>
      </tr>
      <tr>
        <th class="text-left">价格计量单位：</th>
        <td>套</td>
      </tr>
      <tr>
        <th class="text-left">产品重量：</th>
        <td>10kg</td>
      </tr>
      <tr>
        <th class="text-left">产品展示价格：</th>
        <td>￥998.00</td>
      </tr>
      <tr>
        <th class="text-left">市场价格：</th>
        <td>￥1000.00</td>
      </tr>
      <tr>
        <th class="text-left">成本价格</th>
        <td>￥600.00</td>
      </tr>
      <tr>
        <th class="text-left">最低销售价格：</th>
        <td>￥900.00</td>
      </tr>
      <tr>
        <th class="text-left">销售开始时间：</th>
        <td>2017年6月1日</td>
      </tr>
      <tr>
        <th class="text-left">销售结束时间：</th>
        <td>2017年10月1日</td>
      </tr>
      <tr>
        <th class="text-left">产品类型：</th>
        <td>销售品</td>
      </tr>
      <tr>
        <th class="text-left">颜色：</th>
        <td>褐色</td>
      </tr>
      <tr>
        <th class="text-left">产品关键字</th>
        <td>地板；哥本哈根；实木</td>
      </tr>
      <tr>
        <th class="text-left">产品摘要</th>
        <td>实木地板只要998！</td>
      </tr>
      <tr>
        <th class="text-left">详细内容：</th>
        <td>实木地板只要998，只要998，马上拿回家！</td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript" src="../../js/jquery.min.js"></script> 
<script type="text/javascript" src="../../static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script>
</body>
</html>