<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.7/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../lib/icheck/icheck.css" />
		<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />
		<title>产品列表</title>
	</head>
	<body>
			<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 
			<span class="c-gray en">&gt;</span> 产品管理 
			<span class="c-gray en">&gt;</span> 产品列表
				<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
					<i class="Hui-iconfont">&#xe68f;</i>
				</a>
			</nav>
			<div class="page-container">
				<div class="text-c"> 日期范围：
					<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate" style="width:120px;"></input> -
					<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate" style="width:120px;"></input>
					<input type="text" name="" id="" placeholder=" 产品名称" style="width:250px" class="input-text"></input>
					<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
				</div>
				<div class="cl pd-5 bg-1 bk-gray mt-20"> 
					<span class="l">
						<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
							<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
						</a> 
						<a class="btn btn-primary radius" onclick="product_add('添加产品','product-add')" href="javascript:;">
							<i class="Hui-iconfont">&#xe600;</i> 添加产品
						</a>
					</span> 
					<span class="r">共有数据：
						<strong th:text="${count}">88</strong> 条
					</span> 
				</div>
				<div class="mt-20">
					<table class="table table-border table-bordered table-bg table-hover table-sort">
						<thead>
							<tr class="text-c">
								<th width="40"><input name="" type="checkbox" value=""></input></th>
								<th width="80">产品编号</th>
								<th width="100">产品名称</th>
								<th width="100">产品颜色</th>
								<th width="100">产品属性</th>
								<th width="100">描述</th>
								<th width="100">单价</th>
								<th width="60">类型</th>
								<th width="100">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-c va-m" th:each="product,stat : ${products}">
								<td><input name="" type="checkbox" value="" th:value="${product.id}"></input></td>
								<td th:text="${product.id}">10003</td>
								<td class="text-c">
 									<a style="cursor:pointer" class="text-primary btn btn-success-outline radius" th:onClick="'javascript:product_show(\''+${product.name}+'\',\''+${product.id}+'\');'" href="javascript:;" th:text="${product.name}">
										圣象哥本哈根橡木地板
									</a>
								</td>
								<td th:text="${product.color}">棕色</td>
								<td th:text="${product.attribute}">高级</td>
								<td th:text="${product.comment}">原木的外在,实木条形结构,色泽花纹自然,写意;款式设计吸取实木地板的天然去雕饰之美,在视觉上给人带来深邃联想.多款产品适合搭配不同的风格的室内装饰;功能流露出尊贵典雅的大气韵味。</td>
								<td>
									<span class="price" th:text="${product.price}">356.0</span>
									元/<span th:text="${product.uom}">件</span>
								</td>
								<td class="td-status" th:switch="${product.stop}">
									<span th:case="'t'" class="label label-defaunt radius">已下架</span>
									<span th:case="'f'" class="label label-success radius">已发布</span>
								</td>
								<td class="td-manage" th:switch="${product.stop}">
									<a th:case="'t'" style="text-decoration:none" th:onClick="'javascript:product_start(this,\''+${product.id}+'\');'"  href="javascript:;" title="发布">
										<i class="Hui-iconfont">&#xe603;</i>
									</a>
									<a th:case="'f'" style="text-decoration:none" th:onClick="'javascript:product_stop(this,\''+${product.id}+'\');'" href="javascript:;" title="下架">
										<i class="Hui-iconfont">&#xe6de;</i>
									</a>
									<a style="text-decoration:none" class="ml-5" th:onClick="'javascript:product_edit(\''+${product.name}+'\',\''+${product.id}+'\');'" href="javascript:;" title="编辑">
										<i class="Hui-iconfont">&#xe6df;</i>
									</a>
									<a style="text-decoration:none" class="ml-5" th:onClick="'javascript:product_del(this,\''+${product.id}+'\');'" href="javascript:;" title="删除">
										<i class="Hui-iconfont">&#xe6e2;</i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../lib/layer/2.1/layer.js"></script>
		<script type="text/javascript" src="../../lib/My97DatePicker/WdatePicker.js"></script>
		<script type="text/javascript" src="../../lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="../../lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
		<script type="text/javascript" src="../../static/h-ui/js/H-ui.js"></script>
		<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script>
		<script type="text/javascript">
			$('.table-sort').dataTable({
				"aaSorting": [
					[1, "asc"]
				], //默认第几个排序
				"bStateSave": true, //状态保存
				"aoColumnDefs": [{
						"orderable": false,
						"aTargets": [0, 8]
					} // 制定列不参与排序
				]
			});
			/*产品-添加*/
			function product_add(title, url) {
				layer_show(title, url, 1080, 720);
			}
			/*产品-显示*/
			function product_show(title,id) {
				layer_show(title, "product/"+id, 720, 720);
			}
			/*产品-下架*/
			function product_stop(obj, id) {
				layer.confirm('确认要下架吗？', function(index) {
					$.ajax({
						url: "/product/stop/"+id,
						type: "patch",
						dataType: "json",
						contentType: "application/json",
						success : function(msg) {
							//要执行的代码
							alert("下架成功");
							$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_start(this,'+id+')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
							$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
							$(obj).remove();
							layer.msg('已下架!', {
								icon: 5,
								time: 1000
							});
						},
					});
				});
			}
			/*产品-发布*/
			function product_start(obj, id) {
				layer.confirm('确认要发布吗？', function(index) {
					$.ajax({
						url: "/product/start/"+id,
						type: "patch",
						dataType: "json",
						contentType: "application/json",
						success : function(msg) {
							//要执行的代码
							alert("发布成功");
							$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_stop(this,'+id+')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
							$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
							$(obj).remove();
							layer.msg('已发布!', {
								icon: 6,
								time: 1000
							});
						},
					});
				});
			}
			/*产品-编辑*/
			function product_edit(title, id) {
				layer_show("编辑"+title, "product-edit/"+id, 1080, 720);
				/* var index = layer.open({
					type: 2,
					title: "编辑"+title,
					content: "product-edit/"+id
				});
				layer.full(index); */
			}
			/*产品-删除*/
			function product_del(obj, id) {
				layer.confirm('确认要删除吗？', function(index) {
					$.ajax({
						url: "/product/"+id,
						type: "delete",
						dataType: "json",
						contentType: "application/json",
						success : function(msg) {
							//要执行的代码
							alert("删除成功");
							$(obj).parents("tr").remove();
							layer.msg('已删除!', {
								icon: 1,
								time: 1000
							});
						},
					});
				});
			}
		</script>
	</body>

</html>