<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit|ie-comp|ie-stand" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>XX科技营销管理系统</title>
		<meta name="keywords" content="XX科技销售管理系统" />
		<meta name="description" content="销售管理系统;毕业设计;XX科技" />
		<link href="../../static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
		<link href="../../static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
		<link href="../../static/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
		<link href="../../static/h-ui.admin/skin/default/skin.css" id="skin" rel="stylesheet" type="text/css" />
		<link href="../../lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
		<link href="../../lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
		<style>
			label.error {
				position: absolute;
				left: 170px;
				top: 7px;
				color: #ef392b;
				font-size: 14px;
			}
			#mobileCode-error {
				position: absolute;
				left: 80px;
				top: 7px;
				color: #ef392b;
				font-size: 14px;
			}
		</style>
	</head>

	<body>
		<input type="hidden" id="TenantId" name="TenantId" value="" />
		<div class="header"></div>
		<div class="loginWraper">
			<div id="loginform" class="loginBox">
				<form id="form-user-login" name="form-user-login" class="form form-horizontal" action="api/login" method="post">
					<div class="row cl">
						<label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
						<div class="formControls col-xs-8">
							<input id="username" name="username" type="text" placeholder="账户" class="input-text size-L"></input>
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
						<div class="formControls col-xs-8">
							<input id="password" name="password" type="password" placeholder="密码" class="input-text size-L"></input>
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe605;</i></label>
						<div class="formControls col-xs-8">
							<input id="validate" name="validate" class="input-text size-L" type="text" placeholder="验证码" style="width:150px;"></input>
							<img id="code" src="/code"></img>
							<a id="kanbuq" href="javascript:;">看不清，换一张</a>
						</div>
					</div>
					<div class="row cl">
						<div class="formControls col-xs-8 col-xs-offset-3">
							<label for="remeberMe">
            					<input type="checkbox" id="remeberMe" name="remeberMe" value="true" />使我保持登录状态
          					</label> &nbsp;&nbsp;&nbsp;&nbsp;
							<a href="">忘记密码？</a>
						</div>
					</div>
					<div class="row cl">
						<div class="formControls col-xs-8 col-xs-offset-3">
							<input id="login-button" name="login-button" type="button" onclick="login()" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;" />
							<input id="register" type="button" class="btn btn-default radius size-L" value="&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;册&nbsp;" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="footer">北京XX科技有限责任公司</div>
		<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.js"></script>
		<script type="text/javascript" src="../../lib/layer/2.1/layer.js"></script>
		<script type="text/javascript" src="../../lib/icheck/jquery.icheck.min.js"></script>
		<script type="text/javascript" src="../../static/h-ui/js/H-ui.js"></script>
		<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script>
		<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/jquery.validate.js"></script>
		<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
		<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/validate-methods.js"></script>
		<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/messages_zh.js"></script>
		<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
		<script src="http://open.sojson.com/common/js/canvas-nest.min.js" count="200" zindex="-2" opacity="0.5" color="47,135,193" type="text/javascript"></script>
		<script type="text/javascript" src="../../js/login.js"></script>
	</body>

</html>